@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px black inset;
  font-family: "Roboto", sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-areas: "header" "mainpage";

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    .logoDiv {
      height: 50px;
      width: 50px;
    }

    .linksDiv {
      width: 250px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      & * {
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        color: rgb(60, 60, 60);
        font-family: "Fredoka", sans-serif;
        cursor: pointer;
        &:hover {
          color: black;
          transform: scale(1.1);
        }
      }
    }
  }
  .mainpage {
    grid-area: mainpage;
    height: 100%;
    width: 100vw;
    .searchPage {
      display: flex;
      flex-direction: column;
      //   gap: 100px;
      align-items: center;

      .searchBarDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        gap: 10px;

        .autoComplete {
          width: 70%;
        }
      }

      .currentCityDiv {
        width: 90%;
        height: 100%;
        gap: 30px;
        display: flex;
        padding: 4%;
        align-items: center;
        flex-direction: column;

        .forecastDiv {
          display: flex;
          gap: 20px;
          padding: 10px;

          .eachDayDiv {
            height: 200px;
            width: 200px;
          }
        }
      }
    }
  }
}
